<!-- https://raw.githubusercontent.com/yhnavein/express-starter/master/views/account/profile.ejs -->

<div class="custom-container well" style="color:black;margin-top:40px;" ng-controller="UserProfileCtrl" ng-cloak>
  <div class="row">
    <div class="col-sm-6">
      <div class="page-header">
        
    <%if(messages.success){%>
      <div class="alert alert-success">
      <%=messages.success%>
      </div>
    <%}%>
    <%if(messages.error){%>
      <div class="alert alert-danger">
      <%=messages.error%>
      </div>
    <%}%>
    
        <h3>Profile Information</h3>
      </div>
      <form action="/user/profile" method="POST" class="form-horizontal" name="profileForm">
        <div class="form-group">
          <label for="email" class="col-sm-4 control-label">Email</label>
          <div class="col-sm-6">
            <input type="email" name="email" id="email" value="<%= user.email %>" class="form-control" required/>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-4 control-label">Name</label>
          <div class="col-sm-6">
            <input type="text" name="name" id="name" value="<%= user.profile.name || '' %>" class="form-control" required/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-6">
            <button type="submit" class="btn btn btn-primary" ng-disabled="profileForm.$invalid">
              <i class="fa fa-pencil"></i>Update Profile
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="page-header">
        <h3>Change Password</h3>
      </div>

      <form action="/user/password" method="POST" class="form-horizontal" novalidate name="pswForm">
        <div class="form-group">
          <label for="password" class="col-sm-4 control-label">New Password</label>
          <div class="col-sm-6">
            <input type="password" name="password" id="password" class="form-control" ng-model="pswChange.psw" required ng-minlength="4"
            />
            <div password-strength value="pswChange.psw"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword" class="col-sm-4 control-label">Confirm Password</label>
          <div class="col-sm-6">
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" onChange="checkPwd();" ng-model="pswChange.psw1" required/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-6">
            <button type="submit" class="btn btn btn-primary" ng-disabled="pswForm.$invalid || pswChange.psw != pswChange.psw1">
              <i class="fa fa-lock"></i>Change Password
            </button>
          </div>
        </div>
        <div class="alert-container" ng-show="pswChange.psw != pswChange.psw1 && pswChange.psw1">
          <hr>
          <div id="pwdsStatusDiv">
            <p id="pwdAlertMsg"></p>
          </div>
        </div>
      </form>

    </div>
    <div class="col-sm-6">
      <div class="page-header">
        <h3>Delete Account</h3>
      </div>
      <p>You can delete your account, but keep in mind this action is irreversible.</p>
      <form action="/user/delete" method="POST" class="form-horizontal" novalidate name="deleteAccount">
      <button class="btn btn-danger" type="submit">
        <i class="fa fa-trash"></i> Delete my account
      </button>
      </form>
    </div>
  </div>
</div>
<script>
  function checkPwd() {
    var password = $("#password").val();
    var confirmPassword = $("#confirmPassword").val();

    if (password != confirmPassword){
      document.getElementById("pwdsStatusDiv").className = "alert alert-danger";
        $("#pwdAlertMsg").html("Passwords do not match!");
    }else if(password !='' && password == confirmPassword){
      document.getElementById("pwdsStatusDiv").className = "alert alert-success";
        $("#pwdAlertMsg").html("Passwords match.");
    }
}

$(document).ready(function () {
   $("#confirmPassword, #password").keyup(checkPwd);
});
</Script>