<!-- unit 11 -->
<!--  Santhosh Bonala,Charan Potukuru, Shiva Kumar Mutukula  -->
<!--

      +-----------------------------------------------------------------------------------------------------------------+ 
      |                                             Copyright - NWMSU                                                   |
      |                                           NWMSU INTERNAL USE ONLY                                               |
      |-----------------------------------------------------------------------------------------------------------------| 
      |Team 02                                                                                                          |
      |Unit 02 :Krishna Veni karri  , Supraja Kumbam                                                                    |
      |Unit 11 : Shiva Kumar Mutukula, Santhosh Bonala, Durga Charan Potukuru                                           |
      |-----------------------------------------------------------------------------------------------------------------|
      |Description: This view is designed to handle reset password i.e reset.ejs                                            |
      |-----------------------------------------------------------------------------------------------------------------|
      |    NAME                            VERSION                       CHANGES                                        |
      |-----------------------------------------------------------------------------------------------------------------|
      |Shiva Kumar Mutukula       0.0.1(Initial)       Initial code added  for the reset page.                          |
      |                                                                                                                 |             
      |                                                                                                                 |
      +-----------------------------------------------------------------------------------------------------------------+

-->

<div class="custom-container" >
    <div class="page-header">
        <h3>Reset Password</h3>
    </div>
    <form novalidate method="POST" action="/user/reset" name="resetForm" class="form-horizontal">
        <input type="hidden"/>

        <blockquote>
            <strong>Almost done!</strong> You need to set up your new password now. Please note, that the new password has to be
            at least 4 characters long.
        </blockquote>

        <div class="form-group">
            <label for="password" class="col-sm-4 control-label">New Password</label>
            <div class="col-sm-4">
                <input type="password" name="password" placeholder="New password" autofocus="autofocus" class="form-control" ng-model="psw"
                    required ng-minlength="4" />
                <div password-strength value="psw"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirm" class="col-sm-4 control-label">Confirm Password</label>
            <div class="col-sm-4">
                <input type="password" name="confirm" placeholder="Confirm password" class="form-control"  required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn btn-primary btn-reset" >
                    <i class="fa fa-keyboard-o"></i>Change Password
                </button>
            </div>
        </div>
    </form>
</div>

