<html>
    <head>  
        <link  rel="stylesheet" href="uppala_saikumar.css" />	
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       
        
        <title> SAI KUMAR </title>
        <style>
        body {
	background-image:url("/images/aboutme/t9c/sky.jpg");
	/*background-position: center;*/
	background-size: cover;
	 
  }
        </style>
        
    </head>
    <body >     
         <br><br> 
            <div class="row">
            <div class="col-md-9">
                    <br>  <br>   
            <section ><h2 >My background</h2><br>
            <p ><strong>I am <span >SAI KUMAR UPPALA </span>from Hyderabad,India.
            I completed my bachelors <br>in Electronics and Instrumentation Engineering <br>
            from Vignan Institute of technology and Science in 2015.<br>
            After my undergraduation,I worked as a Systems Engineer in Infosys as a Linux and Middleware Admin.</strong></p>
            </section>
            <h2> My plans</h2>
            <p ><strong>To enhance my knowledge in feild of computer science,<br>
             I came here to pursue my masters in Applied Computer science.<br>
             My future plan to complete my masters with good grades and become a certfied programmer and web developer.
            </strong></p>
            <h2 >My Interest </h2>
            <p ><strong>My technical intrest is mainly Coding.<br>
             I am intrested to work on backend web-technologies and programming languages.<br>	
             Apart from these i love playing cricket and snookers.<br>
             My hobbies include listening music and surfing web.
             </strong></p>
            </div>
            <div class="col-md-3">
                <br><br>

            <img src="/images/aboutme/t9c/my_img.jpeg" class="img-circle" alt="pic error" width="150" height="150">
            <br>
            <p ><h3>SAI KUMAR UPPALA</h3></p>
            <p><i class="fa fa-square-o"></i><strong> &nbsp; Masters Student </strong></p>
            <p><i class="fa fa-square-o"></i><strong> &nbsp;  Maryville, MO </strong></p>
           
            <p><i  class="fa fa-envelope"></i><a class="font" href="mailto:uppalasai174@gmail.com"> &nbsp;<span style="color: black">uppalasai174@gmail.com</span></a></p>
            <p><i class="fa fa-phone"></i><strong> &nbsp;  660-528-0724 </strong></p>
            </div>
            </div>
           
            
           
          