<!-- unit 02 -->
<!-- Krishna Veni Karri, Supraja Kumbam -->

<br/>
<br/>
<h2>Confirm deletion of entry</h2>
<br/>
<br/> ID:
<%=  estimates._id %>
  <br> Name:
  <%=estimates.name%>
    <br/> location:
    <%=estimates.location%>
      <br/> squareFeet:
      <%=estimates.squareFeet%>
        <br/> materials:
        <br/>
        <% for (let j = 0; j < estimates.materials.length; j++) { material = estimates.materials[j]; %>
          <div> name:
            <%=material.name%>
              <br/> unitcost:
              <%=material.unitcost%>
                <br/> coverageSquareFeetPerUnit:
                <%=material.coverageSquareFeetPerUnit%>
                  <br/>
                  <br/>
          </div>
          <% } %>
            <br/>
            <br/>

            <form method="get" action="/estimate">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/estimate/delete/<%= estimates._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>