<!-- Please contact Team 6 - Unit 7(Vineeth & Sangeetha) for this-->
<!-- main  -->
<div id="estimatebegin">
  <div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= estimate.name %>" required>
      </div>
      <div class="form-group">
        <label for="location">location</label>
        <input type="text" class="form-control" id="location" name="location" value="<%= estimate.location %>">
      </div>
      <div class="form-group">
        <label for="sqft">sqft</label>
        <input onkeyup="onsqftChange()" type="number" class="form-control" id="sqft" name="sqft" value="<%= estimate.squareFeet %>"
          required>
      </div>
    </div>
  </div>
</div>
<hr>

<!-- materials  -->
<p></p>
<script>
  var idnum = $("#_id").html();
  // console.log
</script>
<div id="materialList">
  <% const origmaterialCount = estimate.materials.length;  %>

    <% var materialsum = 0;  %>
      <h3><span id="materialCount">
        <%=origmaterialCount%>
      </span> Material Entries</h3>
      <div id="dynamicMaterialInput">

        <% for (var iEntry=1; iEntry <= origmaterialCount; iEntry++) {  material = estimate.materials[iEntry-1];  %>

          <div id="oneEntry">
            <p></p>
            <div class=row>
              <div class="col col-xs-4">
                <div class="form-group">
                  <label for="materialName" name="materialNameLabel">Material</label>
                  <input type="text" class="form-control" id="materialName<%=iEntry%>" name="materialName" value="<%= material.product %>">
                </div>
              </div>
              <div class="col col-xs-4">
                <div class="form-group">
                  <label for="materiallocation" name="materiallocationLabel">$/unit</label>
                  <input onkeyup="onMaterialChange()" type="number" class="form-control" id="materialUnitCost<%=iEntry%>" name="materialUnitCost" value="<%= material.unitcost %>">
                </div>
              </div>
              <div class="col col-xs-4">
                <div class="form-group">
                  <label for="materialsqft" name="sqftLabel">Sqft/unit  </label>
                  <input onkeyup="onMaterialChange()" type="number" class="form-control" id="Sqftperunit<%=iEntry%>" value="<%= material.coverageSquareFeetPerUnit %>"
                    name="Sqftperunit" min="1">

                </div>
              </div>
            </div>
          </div>
          <% const sqftperunit = estimate.squareFeet/material.coverageSquareFeetPerUnit;  %>
            <% const individualunitscost = parseInt(sqftperunit*material.unitcost);  %>
              <%  materialsum = materialsum+individualunitscost;  %>
                <div>
                  <h4>

                   
                      <span id="individualMaterialCost<%=iEntry%>">  <%= parseInt(sqftperunit) %> units = $ <%= individualunitscost %></span>

                      <br> </br>
                  </h4>
                </div>

                <%  }  %>
      </div>
      <!-- Dynamic addtion of Materials -->

      <div class="form-group">
        <input type="button" value="+" onClick="addInput('dynamicMaterialInput');">
      </div>
      <h4>
        Material Cost = $
        <span id=materialsum> <%= materialsum %></span>
      </h4>






</div>
</div>

<hr>
<h3><span id=labordetails> Labor Details</span></h3>
<div class=row>
  <div class="col col-xs-3">
    <div class="form-group">
      <label for="EstimateName" name="EstimateNameLabel"># people</label>
      <input onkeyup="onLaborChange()" type="text" class="form-control" id="numPeople" name="numberOfPeople" value="<%= estimate.numberOfPeople %>">
    </div>

  </div>
  <div class="col col-xs-3">
    <div class="form-group">
      <label for="Estimatelocation" name="EstimatelocationLabel"># days</label>
      <input onkeyup="onLaborChange()" type="text" class="form-control" id="numDays" name="numberOfDays" value="<%= estimate.numberOfDays %>">
    </div>
  </div>
  <div class="col col-xs-3">
    <div class="form-group">
      <label for="Estimatesqft" name="sqftLabel">hrs/day </label>
      <input onkeyup="onLaborChange()" type="number" class="form-control" id="hoursWorked" value="<%= estimate.hoursWorkedPerDay %>"
        name="hoursWorkedPerDay" min="1">
    </div>
  </div>

  <div class="col col-xs-3">
    <div class="form-group">
      <label for="Estimatesqft" name="sqftLabel">$/hr </label>
      <input onkeyup="onLaborChange()" type="number" class="form-control" id="laborHourlyCharge" value="<%= estimate.laborDollarsPerHour %>"
        name="laborDollarsPerHour" min="1">
    </div>
  </div>
</div>
<%var laborsum=estimate.numberOfPeople*estimate.numberOfDays*estimate.hoursWorkedPerDay*estimate.laborDollarsPerHour%>
  <h4>
    Labor Cost = $
    <span id=laborcost><%=laborsum%></span>
  </h4>
  <hr>
  <h3 ><span id=hoteldetails> Hotel Details</span></h3>
  <div class=row>
    <div class="col col-xs-4">
      <div class="form-group">
        <label for="hotelName" name="hotelNameLabel"># rooms</label>
        <input onkeyup="onHotleChange()" type="text" class="form-control" id="numrooms" name="numberHotelRooms" value="<%= estimate.numberHotelRooms %>">
      </div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group">
        <label for="hotellocation" name="hotellocationLabel"># nights</label>
        <input onkeyup="onHotleChange()" type="text" class="form-control" id="numnights" name="numberHotelNights" value="<%= estimate.numberHotelNights %>">
      </div>
    </div>


    <div class="col col-xs-4">
      <div class="form-group">
        <label for="hotelsqft" name="sqftLabel">$/night </label>
        <input onkeyup="onHotleChange()" type="number" class="form-control" id="roomcost" value="<%= estimate.hotelDollarsPerNight %>"
          name="hotelDollarsPerNight" min="1">
      </div>
    </div>
  </div>

  <%var hotelsum=estimate.numberHotelRooms*estimate.numberHotelNights*estimate.hotelDollarsPerNight%>
    <h4>
      Hotel Cost = $
      <span id=hotelsum> <%=hotelsum%></span>
    </h4>

    <hr>
    <h3><span id=fooddetails>  Food Details</span></h3>
    <div class=row>
      <div class="col col-xs-4">
        <div class="form-group">
          <label for="foodName" name="foodNameLabel"># people</label>
          <input type="text" class="form-control" id="numPeopleFood" name="numberOfPeople" value="<%= estimate.numberOfPeople %>" required
            disabled>
        </div>
      </div>
      <div class="col col-xs-4">
        <div class="form-group">
          <label for="foodlocation" name="foodlocationLabel"># days</label>
          <input type="text" class="form-control" id="numDaysFood" name="numberOfDays" value="<%= estimate.numberOfDays %>" required
            disabled>
        </div>
      </div>
      <div class="col col-xs-4">
        <div class="form-group">
          <label for="foodsqft" name="sqftLabel">food $/day </label>
          <input onkeyup="onFoodChange()" type="text" class="form-control" id="foodcostperday" name="foodDollarsPerDay" value="<%= estimate.foodDollarsPerDay   %>">
        </div>
      </div>
    </div>
    <%var foodsum=estimate.numberOfPeople*estimate.numberOfDays*estimate.foodDollarsPerDay%>
      <h4>
        Food Cost = $
        <span id=foodsum>  <%=foodsum%></span>
      </h4>

      <hr>
      <h3> Vehicle Details</h3>
      <div class=row>
        <div class="col col-xs-4">
          <div class="form-group">
            <label for="materialName" name="materialNameLabel"># vehicles</label>
            <input onkeyup="onVehicleChange()" type="text" class="form-control" id="numberOfVehicles" name="numberOfVehicles" value="<%= estimate.numberOfVehicles   %>">
          </div>
        </div>
        <div class="col col-xs-4">
          <div class="form-group">
            <label for="materiallocation" name="materiallocationLabel">miles/vehicle</label>
            <input onkeyup="onVehicleChange()" type="text" class="form-control" id="milesPerVehicle" name="milesPerVehicle" value="<%= estimate.milesPerVehicle   %>">
          </div>
        </div>
        <div class="col col-xs-4">
          <div class="form-group">
            <label for="materialsqft" name="sqftLabel">$/mile</label>
            <input onkeyup="onVehicleChange()" type="text" class="form-control" id="dollarsPerMile" name="dollarsPerMile" value="<%= estimate.dollarsPerMile   %>">
          </div>
        </div>
      </div>
      <%var vehiclesum=estimate.numberOfVehicles*estimate.milesPerVehicle*estimate.dollarsPerMile%>
        <h4>
          Vehicle Cost = $
          <span id=vehiclecost>  <%=vehiclesum%></span>
        </h4>

        <hr>

        <div>
          <div id="miscellaneousList">
            <% const origMiscellaneousCount = estimate.miscellaneous.length;  %>
              <%var miscellaneoussum=0;%>
                <h3> <span id="miscellaneousCount">
          <%=origMiscellaneousCount%>
        </span> Miscellaneous Entries</h3>
                <div id="dynamicMiscellaneousInput">
                  <% for (var iEntry=1; iEntry <= origMiscellaneousCount; iEntry++) {  Miscellaneous = estimate.miscellaneous[iEntry-1];  %>
                    <div id="oneEntry">
                      <p></p>
                      <div class=row>
                        <div class="col col-xs-6">
                          <div class="form-group">

                            <input type="text" class="form-control" id="miscellaneousName<%=iEntry%>" name="miscName" value="<%=Miscellaneous.misc %>">
                          </div>
                        </div>
                        <div class="col col-xs-6">
                          <div class="form-group">

                            <input type="number" onkeyup="onMiscChange()" class="form-control" id="miscellaneousCost<%=iEntry%>" name="miscCost" value="<%= Miscellaneous.cost %>">
                          </div>
                        </div>

                      </div>
                    </div>
                    <%miscellaneoussum=miscellaneoussum+Miscellaneous.cost;%>
                      <p></p>
                      <%var totalsum=materialsum+laborsum+hotelsum+foodsum+vehiclesum+miscellaneoussum%>


                        <%  }  %>
                </div>
                <div class="form-group">
                  <input type="button" value="+" onClick="addInput('dynamicMiscellaneousInput');">
                </div>
                <h4>
                  Misc Cost = $
                  <span id=miscellaneoussum> <%=miscellaneoussum%></span>
                </h4>
                <%var persqft=Math.round(totalsum/estimate.squareFeet*100)/100%>
                  <h2>
                    TOTAL COST = $
                    <span id=totalcost>   <%=totalsum%> </span>= $
                    <span id=totalcostpersqft> <%=persqft%></span>/sqft
                  </h2>
          </div>
        </div>
        <hr>
        <div class=row>
          <div class="col col-xs-12">
            <div class="form-group">
              <label for="multiplier" name="multiplierLabel">multiplier</label>
              <input onkeyup="onMultiplierChange()" type="text" class="form-control" id="multiplier" name="multiplier" value="<%= estimate.multiplier %>">
            </div>
          </div>
        </div>
        <%var bidprice=totalsum+totalsum*estimate.multiplier%>
          <%var bidpricepersqft=Math.round(bidprice/estimate.squareFeet*100)/100%>
           <h4>
              BID PRICE = $ <span id=bidprice>
              <%=bidprice%></span> = $<span id=bidpricepersqft> 
                <%=bidpricepersqft%></span>/sqft
            </h4></span>

            <!-- </div>  -->
            <br/>
            <br/>