<!--

      +-----------------------------------------------------------------------------------------------------------------+ 
      |                                             Copyright - NWMSU                                                   |
      |                                           NWMSU INTERNAL USE ONLY                                               |
      |-----------------------------------------------------------------------------------------------------------------| 
      |Team 06                                                                                                          |
      |Unit 06 : Vishal Chilka , Aditya Malireddy                                                                       |
      |-----------------------------------------------------------------------------------------------------------------|
      |Description: The select page displays the recent estimates to select from                                        |
      |-----------------------------------------------------------------------------------------------------------------|
      |    NAME                            VERSION                       CHANGES                                        |
      |-----------------------------------------------------------------------------------------------------------------|
      |Vishal Chilka                    0.0.1(Initial)              Created the select page                             |
      |Aditya Malireddy                 0.0.1(Initial)              Added view for select page                          |             
      |                                                                                                                 |
      +-----------------------------------------------------------------------------------------------------------------+
-->
<br/>
<br/>
<div class="container-fluid">
    <div class=row>
        <div class="col col-md-12">
            <a href="create" class="btn btn-danger new">
                Cancel and
                return to
                create
            </a>
            <h2>Recent Estimates</h2>
            <p>There are
                <%= estimates.query.length %> estimates.
                    <br/>
            </p>
            <% for (var i = estimates.query.length-1; i >= 0; i--) {   estimate = estimates.query[i]; %>
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="text-muted pull-right"></div>
                    <div class="panel-body">
                        ID:
                        <%=  estimate._id %>
                            <br> Name:
                            <%=estimate.name%>
                                <br/> Location:
                                <%=estimate.location%>
                                    <br/> SqFt:
                                    <%=estimate.squareFeet%>
                                        <br/>
                                        <br/>
                                                <br/>
                                                <a href="/estimate/details/<%= estimate._id %>" class="btn btn-success"> Select </a>
                    </div>
                </div>
                <% } %>

        </div>
    </div>
</div>