<div >
<div class="container" >
 <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation" >
   <div class="container">
     <div class="navbar-header" class="green-nav" >
       
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
         aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/">Home</a>
     </div>
     <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav  ">

         <li>
           <a href="/estimate">Estimate</a>
         </li>
         <li>
          <a href="/estimate/select">Summary</a>
        </li>
         <li>
          <a href="/contact">Contact Us</a>
        </li>
        <li>
          <a href="/statistics">Statistics</a>
        </li>
         <% include about.ejs %>
       </ul>
       <ul class="nav navbar-nav navbar-right">
        <%if(!user){%>
          <li><a href="/user/login">Login</a></li>
          <li><a href="/user/signup">Register</a></li>
        <%} else{%>
            <li class="dropdown">
              <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%=user.profile.name%>
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <li><a href="/user/profile">Profile</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/user/logout">Logout</a></li>
              </ul>
            </li>
        <%}%>
       </ul>
     </div>
   </div>
 </nav>
 </div>
</div>
