

<div class="col-md-12"  >
    <div class=row>
      <div class="col col-md-12 front-title"  >


        <h3 ><b>Welcome To</b></h3>
        <h1 class="main-title">C & G Coatings</h1>

        <!-- <h1>Estimates</h1>
        <br/>
        <h2>Calculate estimates</h2>
        <h3>Find Estimates, Create Estimates...Or Delete Estimates</h3>
        <hr>
        <h3>During development, test your api here.</h3>
        <br/>
        <br/>
        <h4>GET a view</h4> -->
        <!-- <ol>
          <li>
            <a href="http://localhost:8089/estimate">http://localhost:8089/estimate</a>
          </li>
          <li>
            <a href="http://localhost:8089/estimate/create">http://localhost:8089/estimate/create</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/estimate/edit/1">http://localhost:8089/estimate/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/estimate/edit/2">http://localhost:8089/estimate/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/estimate/edit/3">http://localhost:8089/estimate/edit/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/estimate/delete/1">http://localhost:8089/estimate/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/estimate/delete/2">http://localhost:8089/estimate/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/estimate/delete/3">http://localhost:8089/estimate/delete/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/estimate/details/1">http://localhost:8089/estimate/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/estimate/details/2">http://localhost:8089/estimate/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/estimate/details/3">http://localhost:8089/estimate/details/3</a>
          </li>
          <li>
            <a href="http://localhost:8089/estimate/select">http://localhost:8089/estimate/select</a>
          </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  
          <li>
            <a href="http://localhost:8089/estimate/findall">http://localhost:8089/estimate/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/estimate/findone/1">http://localhost:8089/estimate/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/estimate/findone/2">http://localhost:8089/estimate/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/estimate/findone/3">http://localhost:8089/estimate/findone/3</a>
          </li>
  
        </ol> -->
   
   
      </div>
    </div>
   </div>
   <script>
          document.body.style.background = "#f3f3f3 url('../images/Wood.jpg') no-repeat right top";
      </script>