<br/>
<br/>
<br/>
<h1>Abhijeet Prakash Agrawal</h1>
<h2>Software Developer</h2>
<h2>My Background</h2>
I pursued my undergraduate
at Shri Ramdeobaba College of Engineering and Management, Nagpur(MH), India. I have 3+ years
of IT experience. I worked extensively on the AngularJS, Node JS, MongoDB, PHP and Ionic
during my tenure as an IT professional.

<h2>My Plans</h2>
<p>  Given my interest in mathematics and analytics I am willing to research in depth concept of Artificial Intelligence and Machine
    Learning and become a successful Data Scientist.</p>

<h2>My Interests</h2>
<p> Exploring and learning new technologies is my passion. I love experimenting with various technologies. When I am not coding
    I love to play games like basketball,volleyball. Basketball is my favourite one. I love playing games
    because they practically teach us the importance of team bonding and leadership.
</p>
<br>