<br/>
<br/>
<br/>
<h1>Venkata Siva Sai Nadipeneni</h1>
<h2>Software Developer</h2>
<h3>background</h3>
<p>i am venkatasivasai nadipeneni from india<br>
    my home town is narasaropet in guntur.narasaraopet is located in andhrapradesh<br>
    i completed my undergradute under jntuk<br>i had no work experience at present</p>
    <h4>plans</h4>
    <p>i am always agressive to take up challenges,so i want to take up the work which always challenges my skills</br>
        i have  special interest on code developing applications</p>
        <h5>interests</h5>
        <p>i enjoys playing cricket all the time<br>
            my favourite programing language is java<br>
            i read the mazines everyday<br>
            i strictly follows the social websites which helps us to know whats happening around the world</p>
<br/>
<br/>